
/*
body {
    background-color: #F47174 !important;
}
*/

body {
    background-image: url('/dist/img/curtain-1275200.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F47174;
  }